In [1]:
import pandas as pd
import numpy as np

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [4]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.788714 -2.281145
   2 -0.395278  0.501788
   3 -2.335656  1.277629
G2 1  0.858601  0.468334
   2 -0.559825 -1.020182
   3  1.800466 -0.337487

In [5]:
df.loc['G1']

          A         B
1 -0.788714 -2.281145
2 -0.395278  0.501788
3 -2.335656  1.277629

In [6]:
df.loc['G1'].loc[1]

A   -0.788714
B   -2.281145
Name: 1, dtype: float64

In [8]:
df.index.names = ['Grupo', 'Numero']

In [9]:
df

                     A         B
Grupo Numero
G1    1      -0.788714 -2.281145
      2      -0.395278  0.501788
      3      -2.335656  1.277629
G2    1       0.858601  0.468334
      2      -0.559825 -1.020182
      3       1.800466 -0.337487

In [10]:
df.xs('G1')

               A         B
Numero
1      -0.788714 -2.281145
2      -0.395278  0.501788
3      -2.335656  1.277629

In [28]:
df.xs(key=1, level='Numero').loc['G1']<1

A    True
B    True
Name: G1, dtype: bool

In [29]:
sdd = df.xs(key=1, level='Numero').loc['G1']<1
sdd

A    True
B    True
Name: G1, dtype: bool