In [1]:
import pandas as pd

In [2]:
#serie
s = pd.Series([1,2,3,4,6,8,9])
s

0    1
1    2
2    3
3    4
4    6
5    8
6    9
dtype: int64

In [3]:
#Descriçao da serie 
s.describe()

count    7.000000
mean     4.714286
std      3.039424
min      1.000000
25%      2.500000
50%      4.000000
75%      7.000000
max      9.000000
dtype: float64

In [4]:
#media
s.mean()

4.7142857142857144

In [5]:
#mediana
s.median()

4.0

In [6]:
#desvio padrão
s.std()

3.0394235042348474

In [7]:
s.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [9]:
s2 = pd.Series([11,5,8])
s2

0    11
1     5
2     8
dtype: int64

In [10]:
#Concatenando listas
s= s.append(s2)
s

0     1
1     2
2     3
3     4
4     6
5     8
6     9
0    11
1     5
2     8
dtype: int64

In [12]:
df = pd.DataFrame([['pessoas', 100], ['animais', 200], ['plantas', 1000]])

In [13]:
#dimenções do DataFrame
df.shape

(3, 2)

In [14]:
df

         0     1
0  pessoas   100
1  animais   200
2  plantas  1000

In [15]:
#colunas com nomes
df2 = pd.DataFrame([['pessoas', 100], ['animais', 200], ['plantas', 1000]], columns=['tipo', 'quantidade'])

In [17]:
df2

      tipo  quantidade
0  pessoas         100
1  animais         200
2  plantas        1000

In [18]:
#não realiza buscas por indice, buscar pela descrição da coluna
df2['tipo']

0    pessoas
1    animais
2    plantas
Name: tipo, dtype: object

In [24]:
df2['quantidade'].mean()

433.33333333333331

In [25]:
df2['quantidade'].median()

200.0

In [26]:
#retorna um dicionario da linha 
df2.iloc[1]

tipo          animais
quantidade        200
Name: 1, dtype: object

In [28]:
df2.iloc[2]['tipo']

'plantas'

In [32]:
#OBS: iloc usa da indice, ix usa o possição(que pode não ser numerico pos pode ser editado)
df2.ix[0]

tipo          pessoas
quantidade        100
Name: 0, dtype: object

In [33]:
df2.ix[0][0]

'pessoas'

In [35]:
#diferente de iloc a possição 2 tambem é retornada 
df2.ix[:2]

      tipo  quantidade
0  pessoas         100
1  animais         200
2  plantas        1000

In [42]:
#alterando apresentação do indice
df2.index = pd.Index(['um', 'dois', 'tres'])

In [43]:
df2

         tipo  quantidade
um    pessoas         100
dois  animais         200
tres  plantas        1000

In [45]:
df2.ix['um']

tipo          pessoas
quantidade        100
Name: um, dtype: object