In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)

In [3]:
df = pd.DataFrame(np.random.randn(5,4), index=('A B C D E'.split()), columns='w x y z'.split())

In [4]:
df

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [8]:
df>0

       w      x      y      z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [9]:
bol = df > 0
df[bol]

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [10]:
df[df['w'] > 0]

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [12]:
#usa como referencia a coluna y
df[df['w'] > 0]['y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: y, dtype: float64

In [14]:
# a anotação 'and' e 'or' só conseguem trabalhar com valores unicos, não conseguem trabalhar com series
df[(df['w']>0) & (df['y']>1)]

          w         x         y         z
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df[(df['w'] > 0) & (df['y'] > 1)]['y']

E    2.605967
Name: y, dtype: float64

In [17]:
df.reset_index()

  index         w         x         y         z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [30]:
col = 'RS RJ SP AM SC'.split()

In [31]:
col

['RS', 'RJ', 'SP', 'AM', 'SC']

In [32]:
df['Estados'] = col

In [35]:
df

                w         x         y         z Estados
Estados
RS       2.706850  0.628133  0.907969  0.503826      RS
RJ       0.651118 -0.319318 -0.848077  0.605965      RJ
SP      -2.018168  0.740122  0.528813 -0.589001      SP
AM       0.188695 -0.758872 -0.933237  0.955057      AM
SC       0.190794  1.978757  2.605967  0.683509      SC

In [43]:
df.set_index('Estados')

KeyError: 'Estados'

In [39]:
df

                w         x         y         z
Estados
RS       2.706850  0.628133  0.907969  0.503826
RJ       0.651118 -0.319318 -0.848077  0.605965
SP      -2.018168  0.740122  0.528813 -0.589001
AM       0.188695 -0.758872 -0.933237  0.955057
SC       0.190794  1.978757  2.605967  0.683509