In [1]:
import pandas as pd
import numpy as np

In [3]:
#Ao declarar o seed todos os numeros aleatorios gerados vão ser iguais em qualquer computador
np.random.seed(101)

In [4]:
df = pd.DataFrame(np.random.randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [5]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [9]:
type(df['W'])

pandas.core.series.Series

In [10]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [12]:
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [22]:
df['NEW'] = df['W'] + df['X']

In [27]:
#o eixo de referencia por defalt é o '0'(linhas) para que possa ser alterada 
#uma coluna deve-se mudar o eixo de referencia '1'(colunas)
df.drop('new', axis=1, inplace= True)

In [29]:
df

          W         X         Y         Z       NEW
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

### loc - busca pelo nome do indice e coluna
### iloc - busca pelo numero do indice
### inplace realisa alterações

In [31]:
df.loc['A', 'W']

2.706849839399938

In [32]:
df.loc['A']

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
NEW    3.334983
Name: A, dtype: float64

In [34]:
df.loc[['A', 'B'], ['X', 'Y', 'Z']]

          X         Y         Z
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965

In [35]:
df.iloc[1:4 , 2:]

          Y         Z       NEW
B -0.848077  0.605965  0.331800
C  0.528813 -0.589001 -1.278046
D -0.933237  0.955057 -0.570177